/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: var(--texte-1) var(--texte-1);
    padding-bottom: var(--h3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--vert);
    z-index: 15;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
}

.header__link {
    display: flex;
    align-items: center;
    gap: var(--texte-3);
    text-decoration: none;
    position: relative;
    z-index: 20;
}

.header__logo {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
}

.header__link img:not(.header__logo) {
    height: 2.5rem;
    width: auto;
    object-fit: contain;
}

.header__logo--light {
    filter: invert(1);
}

/* Menu Button */
.menu-btn {
    position: relative;
    width: 2.1875rem;
    height: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 20;
    padding: 0;
}

.menu-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: brightness(0) invert(1);
}