/* Transport Section */
.transport {
    padding: var(--h3) var(--h3);
    background-color: var(--blanc);
    text-align: left;
}

.transport__header {
    margin-bottom: var(--texte-1);
}

.transport__title {
    font-size: var(--h3);
    color: var(--vert);
    margin: 0;
    margin-top: 1.875rem;
    margin-left: 1.25rem;
}

.transport__description {
    font-size: var(--texte-2);
    color: var(--noir);
    margin: var(--texte-4) 0 0 0.625rem;
    margin-left: 1.25rem;
}

@media (max-width: 48rem) {
    .transport {
        padding: var(--texte-1) var(--texte-1);
    }
}