/* Gallery Section */
.gallery {
    padding: var(--h3) 1.25rem;
    background-color: var(--blanc);
    text-align: left;
}

.gallery__header {
    margin-bottom: var(--texte-2);
}

.gallery__title {
    font-size: var(--h2);
    color: var(--vert);
    margin: 0;
    margin-left: 1.25rem;
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
}

.gallery__container {
    display: flex;
    align-items: center;
    gap: var(--texte-2);
    margin-top: var(--texte-2);
}

.gallery__carousel {
    flex: 1;
    position: relative;
}

.gallery__item {
    display: none;
    width: 100%;
    pointer-events: none;
    cursor: default;
}

.gallery__item.active {
    display: block;
}

.gallery__image {
    width: 95%;
    height: 18.75rem;
    display: block;
    border-radius: 0.375rem;
    object-fit: cover;
    margin-left: 0.4375rem;
    margin-bottom: 1.25rem;
}

.gallery__button {
    background-color: var(--vert);
    color: var(--blanc);
    border: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    flex-shrink: 0;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}

.gallery__button:hover {
    background-color: var(--bleu);
    transform: scale(1.1);
}

.gallery__button:active {
    transform: scale(0.95);
}