/* Hero Section */
.hero {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    height: 400px;
    background-image: url('/assets/images/Hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    color: var(--blanc);
    text-align: left;
    padding: var(--h2);
}



/* Hero override for Scène principale */
.hero--main-stage {
    height: 220px;
    background-image: url('/assets/images/Scene1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: var(--h3);

}

/* Hero override for Scène secondaire */
.hero--secondary-stage {
    height: 220px;
    background-image: url('/assets/images/Scene2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: var(--h3);

}

/* Hero override for Théodora */
.hero--theodora {
    height: 300px;
    background-image: url('/assets/images/Theodora.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: var(--h3);

}

/* Hero override for Remy Bond */
.hero--remybond {
    height: 300px;
    background-image: url('/assets/images/RemyBond.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: var(--h3);
}

/* Hero override for Drake */
.hero--drake {
    height: 300px;
    background-image: url('/assets/images/Drake.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: var(--h3);
}

/* Hero override for Will.i.am */
.hero--william {
    height: 300px;
    background-image: url('/assets/images/Will.i.am.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: var(--h3);
}



@media (max-width: 768px) {
    .hero {
        height: 250px;
    }

    .hero__title {
        font-size: 2.5rem;
        color: var(--blanc);
        margin: 0;
        margin-left: 20px;
    }

    .hero__date {
        font-size: 1.2rem;
        margin-left: 20px;
        margin-top: 5px;
        margin-bottom: 0px;
    }

    .hero__location {
        font-size: 1rem;
        margin-left: 20px;
        margin-top: 0px;
    }
}