/* Programme Section */
.programme {
    padding: var(--h3) 20px;
    margin-top: 30px;
    background-color: var(--blanc);
    margin-left: 20px;
}

.programme__header {
    margin-bottom: 30px;
}

.programme__title {
    font-size: var(--h2);
    color: var(--vert);
    margin: 0;
}

.programme__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--h3);
}

.programme__item {
    text-align: center;
}

/* Disable clicks on programme images */
.programme__image-link {
    pointer-events: none;
    cursor: default;
}

.programme__image {
    width: 95%;
    height: 240px;
    object-fit: cover;
    background-color: #fff;
    border-radius: var(--texte-4);
    margin-bottom: 0;
}

.programme__artist {
    font-size: var(--h3);
    color: var(--noir);
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}

.programme__date {
    font-size: var(--text-base);
    color: var(--noir);
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: left;
}

@media (max-width: 768px) {

    .programme,
    .programme__container {
        padding: var(--texte-1) var(--texte-1);
        grid-template-columns: 1fr;
        gap: var(--texte-1);
    }

    .programme__image {
        height: 200px;
    }
}