/* Stages Section */
.stage {
    background-color: var(--blanc);
    margin-bottom: var(--h3);
}

.stage__header {
    margin-bottom: var(--texte-2);
}

.stage__title {
    font-size: var(--texte-1);
    color: var(--noir);
    margin: 0;
    text-align: left;
    padding-left: 0;
    font-family: var(--roboto);
    margin-left: 1.25rem;
    margin-top: 2.5rem;
}

.stage__link {
    color: var(--noir);
    text-decoration: none;
}

.stage__link:hover {
    color: var(--vert);
}

.stage__content {
    display: flex;
    justify-content: center;
}

.stage__image-link {
    display: block;
    width: 90%;
    max-width: 37.5rem;
}

.stage__image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0.5rem;
    margin-bottom: 1.25rem;
}

/* Main Stage Page */
.main-stage {
    background-color: var(--blanc);
    text-align: left;
}

.main-stage__title {
    font-size: var(--h3);
    color: var(--bleu);
    padding-left: 0;
    margin-right: 3.125rem;
    margin-bottom: 1.875rem;
    margin-top: 1.875rem;
    font-family: var(--roboto);
}

.main-stage__container {
    display: flex;
    flex-direction: column;
    gap: var(--h3);
    align-items: flex-start;
}

.main-stage__artist {
    width: 100%;
    max-width: 22.5rem;
}

.main-stage__artist-name {
    font-size: var(--texte-1);
    color: var(--bleu);
    text-align: left;
    padding-left: 0;
    margin: 0;
}

.main-stage__artist-name a {
    color: var(--bleu);
    text-decoration: none;
}

.main-stage__artist-name a:hover {
    text-decoration: underline;
}

.main-stage__artist-name a:visited {
    color: var(--bleu);
}

.main-stage__image-link {
    display: block;
    width: calc(100% - 2.5rem);
}

.main-stage__image {
    width: 100%;
    height: auto;
    border-radius: 0.375rem;
    margin: 0;
}

.main-stage__artist-schedule {
    margin: 0;
    color: var(--noir);
    font-size: var(--texte-1);
    text-align: left;
    margin-bottom: 1.875rem;
}